@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

@font-face {
  font-family: aldotheapache;
  font-weight: 900;
  src: url(fonts/AldotheApache.woff);
  /*font-weight: bold;*/
}
@font-face {
  font-family: brandongrotesque;
  src: url(fonts/brandon_reg.otf);
  /*font-weight: bold;*/
}

body, html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

/*BULK STYLES*/
/*--SECTION 3 TITLES--*/
.font-Rubik-titles {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: left;
}
.font-Rubik-titles2 {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: right;
}
/*---- NAVBAR -----*/
.navbar {
  /*padding: 15px;*/
}
.nav-title {
  color: #0D0E11;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-left: 15px;
}
.nav-title:hover{
  color: #0D0E11;
}

.navItems {
  color: #888888;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.btn-gradiant {
  background: rgb(138,211,216);
  background: linear-gradient(90deg, rgba(138,211,216,1) 0%, rgba(32,163,190,1) 100%, rgba(2,0,36,1) 100%);
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 5px;
  transform: skewX(-20deg);
}

.btn-login {
  background-color: #0D0E11;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  border: none;
  padding: 20px;
  border-radius: 5px;
  transform: skewX(-20deg);
}

/*-----HERO IMAGE-----*/

/* Working method */
/*.header-image {
  background:

    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),


}

.hero {
  background: black url(MFCTrainer.jpg) center / cover;
}*/

/*@media (max-width: 1024px) {
  .hero {
    background: black url(images/MFCTrainer-2.jpg) center / cover;
  }
}
@media (max-width: 768px) {
  .hero {
    background: black url(images/MFCTrainer-3.jpg) center / cover;
  }
}*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(MFC-TrainerHero.jpg);
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8AD3D8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  width: 100%;
}
.main-subtitle {
  font-size: 1rem;
  color: #fff;
  padding: 0 2rem .75rem 2rem;
  text-transform: uppercase;
}
.hero-h2 {
  font-size: 3rem;
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 3rem;
}
.btn-text {
  transform: skewX(-20deg);
  text-transform: uppercase;

}
/*@media only screen and (min-width: 500px) {
  .hero-h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-h2 {
    font-size: 4rem;
  }
  .btn-padding {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 900px) {
  .hero-h2 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-h2 {
    font-size: 7rem;
  }
}*/

.hero-text .button {
  margin-top: 12px;
  background-color: #fff;
  border: none;
  color: #fff;
}

.hero-text .button:hover {
  background-color: #8AD3D8;
  color: white;
}


/*----SECTION 2-----*/

.sec2 {
  padding: 3rem;

}

.sec2-h1 {
  font-size: 4rem;
  padding-top: 1.5rem;
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  color: #8ad3d8;
  font-weight: bold;
}
.allinone {
  font-weight: bold;
}
.sec2-p {
  /*padding-top: 1rem;*/
  padding-bottom: 1rem;
  font-family: brandongrotesque, sans-serif;
  font-size: 1.2rem;
}
.btn-padding {
  margin-top: 20px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 769px) {
  .btn-padding {
    margin-bottom: 0px;
  }
}

/*-----SECTION 3-----*/
.sec3-padding {
  padding-left: 4rem;
}
.sec3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(mfc-mirror2000.jpg);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec3-title {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 4rem;
  text-transform: uppercase;
}
.sec3-huge-text {
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #8AD3D8;
  font-weight: bold;
  text-transform: uppercase;
}
.sec3-p {
  color: #fff;
  font-size: 1.4rem;
  font-family: brandongrotesque, sans-serif;
}
.sec3-li {
  color: #8AD3D8;
  padding: .35rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-style: italic;

}
/*--COL TITLES--*/
.col-pad {
  padding: 0;
}
.crossfit{
  background-color: #0D0E11;
  padding: 2.5rem;

}
.crossfit-title {
  color: #fff;
}

.weightTraining {
  background-color: #202833;
  padding: 2.5rem;
}
.weight-title {
  color: #D3D3D3;
}

.aerobic {
  background-color: #C5C6C8;
  padding: 2.5rem;
}
.aerobic-title {
  color: #676767;
}

.yoga {
  background-color: #8AD3D8;
  padding: 2.5rem;
}
.yoga-title {
  color: #255450;
}

.bootcamps {
  background-color: #46A29F;
  padding: 2.5rem;
}
.bootcamp-title {
  color: #fff;
}

/*LEFT COLUMN*/
.sec3-p {
  padding: 20px 0;
  width: 80%;
}

/*------SECTION 4-----*/
.sec4 {
  padding: 3rem 1rem 3rem 1rem;
}
.sec4-title {
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  color: #8AD3D8;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 2rem;
  line-height: normal;
}
/*.matter {
  color: #202833;
}*/
.sec4-p {
  /*SET WIDTH ON DESKTOP*/
  text-align: center;
  margin: 0 auto;
  font-family: brandongrotesque, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.feat-ptext {
  font-family: brandongrotesque, sans-serif;
  font-size: 1.3rem;
  color: #888888;
}
.boldUl {
  font-weight: bold;
  text-decoration: underline;
}
.iconSize {
  width: 70px;
}
.iconSize2 {
  width: 60px;
}
.iconpad {
  padding-bottom: 10px;
}
.mid-icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 55px;
}
.sec4-col {
  text-align: center;
  padding-top: 3rem;
}
.sec5-col {
  text-align: center;

}

.iconColor {
  color: #8ad3d8;
}

.sec4-h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;

}
.btn-centered {
  text-align: center;
}
.btn-clear {
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #0D0E11;
  padding: 20px;
  border-radius: 5px;
  /*border-color: #8ad3d8;*/
  border-color: rgb(138,211,216);
  /*border-color: linear-gradient(90deg, rgba(138,211,216,1) 0%, rgba(32,163,190,1) 100%, rgba(2,0,36,1) 100%);*/
  border-width: 2.5px;
  transform: skewX(-20deg);
}

/*----SECTION 5----*/
.sec5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(alora.jpg);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*---SECTION 6---*/
.sec6 {
  padding: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/*---SECTION 7---*/
.sec7 {
  font-size: 3rem;
  /*background-color: black;*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Woman-Turqyoise2x.jpg);
  height: 100%;
  /*height: 700px;*/
  /*width: 100%;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;

}
/*.sec7-marg {
  margin-right: -1.5rem;
}*/
.num1 {
  text-align: center;
}

.sec7-sub-title {
  display: none;
}
.sec7-sub-title-mobile2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.numSize {
  height: 250px;
}

.mid-text {
  text-align: left;
}
/*text-align: left;*/
.sec7-h3 {
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  line-height: 3rem;
  text-align: center;
  /*line-height: 4.5rem;*/
  color: #fff;
  font-size: 3rem;
  /*padding-left: 4rem;*/
  text-transform: uppercase;
  font-weight: bold;
}
.mob1 {
  text-align: center;
  padding-top: 2rem;
}
.black {
  background-color: black;
  /*width: 100%;*/
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*margin-top: -13rem;*/
  margin-right: -12px;
  /*margin-top: -13px;*/
  margin-top: -4rem;
}
.black-p {
  font-family: brandongrotesque, sans-serif;
  color: #fff;
  width: 100%;
  /*width: 60%;*/
  padding: 2rem;
  font-size: 1.4rem;
}
.black-p2 {
  /*width: 60%;*/
  font-family: 'Rubik', sans-serif;
  color: #fff;
  width: 100%;
  /*width: 60%;*/
  padding: 2rem;
  font-size: 1rem;
}
.testimonial {
  color: #46A29F;
}
/*---SECTION 8---*/
.sec8 {
  /*background-image: url(mfcSB.jpg);
  background-color: rgba(255, 255, 255, 0.9);*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(mfcSB.jpg);
  height: 100%;
  /*height: 700px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  /*margin-left: -12px;*/
  /*width: 100%;*/
}
.sec8-sub-title {
  display: none;
}
.sec8-sub-title-mobile {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #202833;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.sec8-sub-title3 {
  font-size: 1.5rem;
  text-align: center;
  color: #202833;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.mid-text2 {
  padding-right: 3rem;
}
.sec8-h3 {
  font-family: 'aldotheapache', 'Montserrat', sans-serif;
  color: #0D0E11;
  /*line-height: 4.5rem;*/
  font-size: 3rem;
  /*padding-right: 4rem;*/
  line-height: 3rem;
  /*padding-left: 3rem;*/
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.mob2 {
  text-align: center;
}
.num2 {
  text-align: center;
  padding-bottom: 2rem;
}
.green2 {
  background-color: #8AD3D8;
  /*width: 100%;*/
  padding-top: 3rem;
  padding-bottom: 5rem;
  /*margin-top: -13rem;*/
  margin-top: -4rem;
  margin-right: -12px;
}
.btm-text {
  text-align: right;
  width: 100%;
  margin-right: 0;
}
.green2-p {
  font-family: brandongrotesque, sans-serif;
  color: #fff;
  padding: 2rem;
  text-align: right;
  font-size: 1.4rem;
}

/*---SECTION 9---*/
.sec9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(mfcgroup.jpg);
  /*height: 700px;*/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  /*margin-left: -12px;*/


}
.sec9-h3 {
  line-height: 3rem;
  /*line-height: 4.5rem;*/
  color: #fff;
  font-size: 3rem;
  padding-left: 3rem;
}
.black2 {
  background-color: black;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: -4rem;
  margin-left: -12px;
}

/*---SECTION 10---*/
.sec10 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(mfcform.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  /*margin-left: -12px;*/
  /*width: 100%;*/
}

/*----PRICING TABLE----*/
.col {
  border: 2px solid lightgray;
  border-radius: 5px;
}
.priceTitle {
  text-align: center;
}
.checkbox {
  height: 1em;
  padding-right: 10px;
}
.check {
  display: flex;
}

/*-----------------*/
.monPricing {
  font-family: aldotheapache, sans-serif;
  font-size: 4rem;
  color: #8AD3D8;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  /*padding-bottom: 3rem;*/
  /*line-height: 4rem;*/
}
@media (max-width: 414px) {
  .monPricing {
    line-height: 4rem;
  }
}
.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.price-container {
  max-width: 1200px;
  margin: 0 auto;
}
#pricing-table {
  padding-top: 50px;
}
#pricing-table .pricing {
  margin: 0;
  padding: 0;
  font-family: brandongrotesque, sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 20px;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #fff;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #202833;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  /*font-weight: 500;*/
  font-family: 'Rubik', sans-serif;
  /*padding-top: 1rem;*/
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 70px;
  /*font-weight: 700;*/
  color: #202833;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate2 {
  font-size: 40px;
  font-weight: 700;
  color: #202833;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -8px;
  color: #202833;
}
.sup99 {
  font-size: 15px;
  top: -20px;
  color: #bdc3c7;
  position: relative;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #202833;
}

#pricing-table .pricing .pricing-list {
  padding: 15px 0 0 0;
  background: #ffffff;
  /*border: 1px solid #e3e3e3;*/
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #46a29f;
  font-size: 16px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
.li-i {
  margin-right: 10px;
  color: #46a29f;
}
.iconSize4 {
  width: 20px;
}
.subs-icon {
  margin-bottom: -5px;
}
.dol-icon {
  margin-left: 6px;
  margin-right: 13px;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}
.iconSize3 {
  width: 30px;
}
.suite-col {
  border: 3.5px solid #46a29f !important;
}
.num-clients {
  font-size: 1.5rem;
  color: #46a29f;
  padding-bottom: 1rem;
  font-style: italic;
}
.line-through {
  text-decoration: line-through;
  padding-right: 5px;
  color: #f36f5e !important;
  font-size: 3rem !important;
}
.price-sub-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.price-sub-title2 {
  text-align: center;

  font-family: 'Rubik', sans-serif;
}
.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #FF715B;
  padding: 30px;
  overflow: hidden;
  position: relative;
  color: rgb(57, 76, 96);
  border-radius: 5px;
}
.ribbon2 {
  width: 100%;
  height: 36px;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #46a29f;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 2px;
  text-transform: uppercase;
  font-family: brandongrotesque, sans-serif;
  letter-spacing: 1.5px;
}
.linear {
  background-image: linear-gradient(to right, #8AD3D8, #46a29f) !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  transform: skewX(-20deg);
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
}
.suite-title {
  padding-top: 1.25rem;
}
.two-hun {
  opacity: .7;
  font-size: .875rem;
  margin-top: 20px;
  font-size: .875rem;
  line-height: 1.4285714286;
  font-family: norms,sans-serif;
  color: #999;
  margin-bottom: 0;
}
.locked-in {
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 900px) {
  .locked-in {
    font-size: 1.25rem;
  }
}
.suitePrice {
  color: #39b54a!important;
}
.monPricing-sub {
  font-family: brandongrotesque, sans-serif;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .monPricing-sub {
    padding-top: 1rem;
  }
}
.pad-btm {
  padding-bottom: 1.25rem!important;
}
/*QUESTIONS*/
.questions {
  background-color: #C5C6C8;
}
/*----FOOTER----*/
.footer {
  background-color: #202833;
  padding: 3rem 1.5rem 3rem;
}
.contact-us {
  color: #fff;
}
.col-footer {
  text-align: center;
}
.copyright {
  text-align: center;
}
.social {
  color: #8AD3D8;
}
