@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

@media only screen and (min-width: 361px) {
  .main-subtitle {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 400px) {
  .mid-text2 {
    padding-right: 4rem;
  }
  .sec9-h3 {
    padding-left: 4rem;
  }
  .main-subtitle {
    font-size: 1.2rem;
    padding: 0 2rem .75rem 2rem;
  }
}
@media only screen and (min-width: 500px) {
  .hero-h1 {
    font-size: 3.5rem;
  }
  .sec7-h3, .sec8-h3 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .sec8-h3 {
    padding-left: 0;
    padding-right: 0;
  }

}
@media only screen and (min-width: 769px) {
  /*SECTION 1*/
  .hero-h2 {
    line-height: 4rem;
  }
  .main-subtitle {
    font-size: 1.35rem;
  }
  /*---SECTION 4-----*/
  .sec4 {
    padding: 3rem 2rem 3rem 2rem;
  }
  .sec4-title {
    padding-bottom: 0rem;
    line-height: inherit;
  }
  /*---SECTION 7----*/
  .sec7 {
    height: 700px;
  }
  .sec7-h3 {
    text-align: left;
    padding-left: 0;
  }
  .numSize {
    height: 325px;
  }
  .mob1 {
    padding-top: 0;
    text-align: left;
  }
  .num1 {
    text-align: right;
  }
  .black {
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: -13rem;
  }
  .black-p {
    width: 60%;
  }
  /*.black-p2 {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.4rem;
  }*/
  /*SECTION 8*/
  .sec8 {
    height: 700px;
  }
  .sec8-h3 {
    padding-left: 0;
    padding-right: 0;
    font-size: 5rem;
    line-height: 4.5rem;
    text-align: right;
  }
  .mob2 {
    text-align: right;
  }
  .btm-text {
    text-align: right;
    width: 60%;
    margin: 0 auto;
    margin-right: 0;
  }
  .sec8 {
    height: 700px;
  }
  .green2 {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: -13rem;
  }
  .green2-p {
    width: 60%;
    margin-left: 39%;

  }
  .mid-text2 {
    padding-right: 0;
  }
  .num2 {
    text-align: left;
  }
  .black2 {
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: -13rem;
  }
  .sec9 {
    height: 700px;
  }
  .sec9-h3 {
    padding-left: 0;
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .sec10 {
    height: 700px;
  }
  .sec8-sub-title-mobile {
    display: none;
  }
  .sec7-sub-title-mobile2 {
    display: none;
  }
  .sec7-sub-title {
    font-family: 'Rubik', sans-serif;
    display: inherit;
    font-size: 1.75rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: -3.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    letter-spacing: 3px;
  }
  .sec8-sub-title {
    font-family: 'Rubik', sans-serif;
    display: flex;
    font-size: 1.75rem;
    text-align: left;
    color: #202833;
    text-transform: uppercase;
    margin-top: -3.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    letter-spacing: 3px;
  }
}

@media only screen and (min-width: 500px) {
  .hero-h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-padding {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 900px) {
  .hero-h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .main-subtitle {
    font-size: 1.5rem;
  }
  .hero-h2 {
    font-size: 7rem;
    line-height: 7.5rem;
  }
  .sec4-p {
    width: 60%;
  }
  .sec7-h3 {
    font-size: 5rem;
  }
}
